/*
 * Desktop layout. Trying floats.
 */
html,body
{
	height:100%;
}
.image
{
	float:left;
	width:50%;
}
.text
{
	float:right;
	width:50%;
	height:100%;
}

/*
 * Stacked layout for smartphones
 */
@media screen and (max-width: 480px)
{
	.image
	{
		float:none;
		width:100%;
	}
	.text
	{
		float:none;
		width:100%;
	}
}
